/* GOOGLE FONTS */

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300&family=Poppins:wght@300&display=swap');

/* BOXICONS */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

/* TOASTIFY */

@import url('https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css');

/* VARIABLES */

:root {
    --primary-bg-color: #FFFEFE;
    --secondary-bg-color: #DCE3F5;
    --text-color: #000;
    --main-color: #869BE6;
    --main-font: 'League Spartan', sans-serif;
    --alternative-font: 'Poppins', sans-serif;
}

/* NORMALIZE */

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: var(--text-color);
}

img {
    width: 100%;
}

ul,
ol {
    list-style-type: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/* HEADER STYLES */
header {
    padding: 0 9%;
    margin-bottom: 6px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

header .header__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.btn__box .btn__logout {
    font-size: 1.8em;
    font-weight: 500;
    color: #fff;
    padding: 1rem 3rem;
    width: 100%;
    background: var(--main-color);
    border: 1px solid #FFF;
    border-radius: 10px;
    transition: .6s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.btn__box .btn__logout:hover {
    scale: 1.1;
}

.logo__contaier {
    display: flex;
    justify-content: center;
    grid-column: 2;
}

.logo__contaier img {
    max-width: 165px;
}

/* HOME STYLES */

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.main__container {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 10rem 9%;
    background: var(--secondary-bg-color);
    border-radius: 15px;
}

.filters {
    background: rgb(73, 57, 113);
    border-radius: 15px 0 0 15px;
    color: white;
}

.filter__title {
    font-size: 2.2em;
    font-weight: 500;
    color: #fff;
    margin: 20px 0 30px;
    text-align: center;
}

.filter__options {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 3rem;
}

.filter__item {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.btn__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__wrap .random__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    padding: .8rem 1.6rem;
    border-radius: 8px;
    background: #fff;
    transition: .4s ease-in-out;
    cursor: pointer;
}

.btn__wrap .random__btn:hover {
    scale: 1.1;
}

.filter__item label {
    font-size: 1.6em;
    font-weight: 500;
}

.nav__text {
    display: block;
    width: 120px;
    height: 20px;
}

.filter__item div,
.filter__item select {
    width: 100%;
}

.filter__item select {
    padding: .8rem 1.6rem;
    border-radius: 8px;
    font-size: 1.4em;
}

.content__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 1rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    place-content: center;
}

.left__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2rem;
    background-color: #f6f7fb;
    border-radius: 15px;
    height: 100%;
}

.product__title {
    font-size: 1.8em;
    text-align: center;
    font-weight: 600;
    color: black;
}

.info__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.4em;
    color: black;
    padding: 8px 12px;
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.right__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 2rem;
    background-color: #f6f7fb;
    border-radius: 15px;
    height: 100%;
}

/* LOGIN PAGE STYLES */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 9%;
    background: var(--primary-bg-color);
}

.container .login__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 5rem;
    background: var(--secondary-bg-color);
    border-radius: 7px;
    width: 460px;
    text-align: center;
}

form .heading {
    position: relative;
    font-size: 3em;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}

.input__field {
    position: relative;
}

.input__field::placeholder {
    font-weight: 500;
    color: var(--text-color);
}

.input__field::after {
    content: '*';
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 2em;
    color: red;
}

.item {
    position: relative;
    font-size: 1.4em;
    font-weight: 400;
    color: var(--text-color);
    border-radius: 10px;
    padding: 16px 22px;
    width: 100%;
    background: #FFF;
    outline: none;
}

.btn__box .btn__login {
    font-size: 1.4em;
    font-weight: 400;
    color: var(--text-color);
    padding: 1rem;
    width: 100%;
    background: var(--main-color);
    border: 1px solid #FFF;
    border-radius: 10px;
    transition: .6s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.btn__box .btn__login:hover {
    scale: 1.04;
}

form .advice {
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    gap: 0.8rem;
}

form .advice a {
    font-weight: 400;
    text-decoration: underline;
    text-decoration-thickness: .8px;
}

.have__account {
    display: flex;
    flex-direction: column;
    min-width: 360px;
    margin-top: 5rem;
}

.have__account hr {
    width: 100%;
    height: 1px;
    background: var(--text-color);
}

.have__account p {
    font-size: 1.8em;
    font-family: var(--main-font);
    font-weight: 500;
    text-align: center;
    padding: 2rem 0;
}

.have__account a {
    font-size: 1.8em;
    font-family: var(--main-font);
    font-weight: 500;
    text-align: center;
    color: var(--text-color);
    padding: 2rem 0;
    width: 100%;
    border: 1px solid #4268EE;
    border-radius: 10px;
    transition: .4s ease-in-out;
}

.have__account a:hover {
    background: #4268EE;
    color: #FFF;
    scale: 1.04;
}

/* REGISTER PAGE STYLES */

.container .register__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 5rem;
    background: var(--secondary-bg-color);
    border-radius: 7px;
    width: 100%;
    text-align: center;
}

.input__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.input__box .input__field {
    width: 46%;
}

.btn__box .btn__register {
    font-size: 1.5em;
    font-weight: 400;
    color: var(--text-color);
    padding: 1.6rem;
    margin-top: 1.6rem;
    width: 50%;
    background: var(--main-color);
    border: 1px solid #FFF;
    border-radius: 10px;
    transition: .6s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.btn__box .btn__register:hover {
    scale: 1.04;
}

/* FOOTER STYLES */
footer {
    display: flex;
    flex-direction: column;
    padding: 5rem 9%;
    gap: 5rem;
    margin-top: 6px;
    box-shadow: 4px 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.social__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.social__container a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.6em;
    color: white;
    padding: .6rem;
    background: var(--text-color);
    border-radius: 6px;
    transition: .4s ease-in-out;
}

.social__container a:first-of-type:hover {
    background: #4267B2;
}

.social__container a:nth-child(2):hover {
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
}

.social__container a:last-of-type:hover {
    background: #00acee ;
}

.info__pages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.info__pages span {
    font-size: 1.6em;
    font-family: var(--main-font);
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
}